* {
  font-family: '小塚ゴシック Pro', 'Kozuka Gothic Pro', sans-serif;
}

p,
li {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

h1 {
  font-size: 4rem;
}

// 文書領域の標準スタイル
.article {
  padding-top: 10vh;
  margin-left: min(100px, 10%);
  margin-bottom: 5vh;
}

// 記事中のビデオや画像の標準スタイル
.innerAssets {
  margin-left: auto;
  margin-right: auto;
  width: min(900px, 80vw);
  aspect-ratio: 16/9;
}

// スクロールバー
html {
  overflow: overlay;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba($color: black, $alpha: 0.5);
  border-radius: 100px;
}

// adjust font size
html {
  font-size: 60%;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 80%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}